<div class="row">
  	<div class="col-md-3 " style="background-color: #dfe0e3; margin-bottom: 2%; margin-top:2%; margin-left: 2%; padding: 2%; border-radius: 15px; height:30% ">
  		<h4><%= current_user.first_name + " " + current_user.last_name %></h4>
  		<br><br>
  		<b>Description :</b><br>
  		<%= current_user.description %>
  		<br><br>
  		<b>Email :</b><br>
  		<%= current_user.email %>
  		<br><br>
  		<%= link_to "Edit email / password", edit_user_registration_path %>
  		<br><br>
  		<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  	</div>
    <div class="col-md-8 " style="background-color: #dfe0e3; margin-bottom: 2%; margin-top:2%; margin-left: 2%; padding: 2%; border-radius: 15px">
    	<div class="row">
        <% current_user.events.each do |event| %>
          <div class="col-md-6">
            <div class="card", style="margin: 1%; background-color: #f0f0f0" >
              <div class="card-body" style="height: 10rem ">
                <%= event.title.capitalize %></br>
                Begins : <%= event.start_date %><br/> 
                <%= link_to "See event", event_path(event.id) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>